extends ./layout.jade
block content
	div 
		label(for="moddedURL") Modified URL for Prefilling
		textarea(name="moddedURL") https://#{sub}.wufoo.com/forms/#{form}/def/#{body}
		br
		a(href="https://#{sub}.wufoo.com/forms/#{form}/def/#{body}", target='_blank') Refill

