mixin text(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='text', name=fieldID)

mixin number(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='number', name=fieldID)

mixin paragraph(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		textarea(name=fieldID)

mixin checkbox(fieldID, fieldLabel, choices)
		label.pure-checkbox(for=fieldID) #{fieldLabel}
		each choice in choices
			label(for=choice.ID) #{choice.Label}
			input(type='checkbox', name=choice.ID, data-val=choice.Label, value=choice.Label)

mixin multiplechoice(fieldID, fieldLabel, choices)
		label.pure-radio(for=fieldID) #{fieldLabel}
		each choice in choices
			label(for=fieldID) #{choice.Label}
			input(type='radio', name=fieldID, value=choice.Label)

mixin dropdown(fieldID, fieldLabel, choices)
		label(for=fieldID) #{fieldLabel}
		select(name=fieldID)
			each choice in choices
				option(value=choice.Label) #{choice.Label}

mixin name(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='text', name=fieldID placeholder="First")
		-var lastNameID = parseInt(fieldID.substring(5))+1;
		input(type='text', name="Field"+lastNameID placeholder="Last")

mixin file(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='file', name=fieldID)

mixin address(fieldID, fieldLabel, subFields)
		label(for=fieldID) #{fieldLabel}
		input(type='text', name=fieldID placeholder="Street")
		-var nextID = parseInt(fieldID.substring(5))+1;
		input(type='text', name="Field"+nextID placeholder="Street Line 2")
		-nextID++;
		input(type='text', name="Field"+nextID placeholder="City")
		-nextID++;
		label(for="Field"+nextID) #{fieldLabel} cont.
		input(type='text', name="Field"+nextID placeholder="State")
		-nextID++;
		input(type='number', name="Field"+nextID placeholder="Postal Code")
		-nextID++;
		input(type='text', name="Field"+nextID placeholder="Country")

mixin date(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='date', name=fieldID)

mixin email(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='email', name=fieldID)

mixin time(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='time', name=fieldID)

mixin phone(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='number', name=fieldID)

mixin website(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='text', name=fieldID)

mixin price(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='number', name=fieldID)

mixin likert(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='text', name=fieldID)

mixin rating(fieldID, fieldLabel)
		label(for=fieldID) #{fieldLabel}
		input(type='range', name=fieldID, min='0', max='5')

